In [23]:
import pandas as pd
import pymysql

In [24]:
df = pd.read_csv("../Datasets/complete_with_cars.csv")

In [25]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [26]:
df

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,total_amount,...,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,2024-06-01 00:34:43,2024-06-01 00:44:45,3.0,4.89,1.0,la guardia,192,2,19.8,29.05,...,420,183,560,Yes,RWD,Type 2 CCS,SUV,C,5,40000
1,2024-06-01 00:17:58,2024-06-01 00:46:05,2.0,11.10,1.0,la guardia,230,3,47.8,66.49,...,255,176,390,Yes,FWD,Type 2 CCS,SUV,B,5,35000
2,2024-06-01 00:58:15,2024-06-01 01:39:37,2.0,17.13,2.0,jfk,48,1,70.0,98.88,...,400,160,380,Yes,FWD,Type 2 CCS,SUV,B,5,40795
3,2024-06-01 00:05:17,2024-06-01 00:57:22,2.0,18.18,2.0,jfk,100,1,70.0,92.69,...,230,165,260,Yes,RWD,Type 2 CCS,Hatchback,B,4,41526
4,2024-06-01 00:10:00,2024-06-01 00:35:56,2.0,9.45,1.0,la guardia,100,1,41.5,74.80,...,320,181,440,Yes,RWD,Type 2 CCS,SUV,C,5,37500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75470,2024-06-30 23:19:00,2024-06-30 23:54:15,2.0,17.77,2.0,jfk,230,4,70.0,82.69,...,515,184,560,Yes,AWD,Type 2,Liftback,F,5,79990
75471,2024-06-30 23:19:00,2024-06-30 23:54:15,2.0,17.77,2.0,jfk,230,4,70.0,82.69,...,365,232,340,Yes,AWD,Type 2 CCS,SUV,E,5,75351
75472,2024-06-30 23:13:09,2024-06-30 23:45:50,3.0,17.09,5.0,jfk,164,2,70.0,82.69,...,400,193,540,Yes,AWD,Type 2 CCS,SUV,C,5,47500
75473,2024-06-30 23:07:05,2024-06-30 23:47:18,5.0,18.34,2.0,jfk,239,1,70.0,88.80,...,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
75474,2024-06-30 23:44:26,2024-07-01 00:43:01,2.0,22.84,2.0,jfk,186,2,70.0,75.75,...,410,188,550,Yes,AWD,Type 2 CCS,SUV,D,5,57500

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75475 entries, 0 to 75474
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tpep_pickup_datetime   75475 non-null  datetime64[ns]
 1   tpep_dropoff_datetime  75475 non-null  datetime64[ns]
 2   passenger_count        75475 non-null  float64
 3   trip_distance          75475 non-null  float64
 4   RatecodeID             75475 non-null  float64
 5   PULocationID           75475 non-null  object
 6   DOLocationID           75475 non-null  int64
 7   payment_type           75475 non-null  int64
 8   fare_amount            75475 non-null  float64
 9   total_amount           75475 non-null  float64
 10  LocationID             75475 non-null  int64
 11  Borough                73235 non-null  object
 12  Zone                   75330 non-null  object
 13  service_zone           73090 non-null  object
 14  placa                  75475 non-null  object
 15  Brand                  75475 non-null  object
 16  Model                  75475 non-null  object
 17  AccelSec               75475 non-null  float64
 18  TopSpeed_KmH           75475 non-null  int64
 19  Range_Km               75475 non-null  int64
 20  Efficiency_WhKm        75475 non-null  int64
 21  FastCharge_KmH         75475 non-null  object
 22  RapidCharge            75475 non-null  object
 23  PowerTrain             75475 non-null  object
 24  PlugType               75475 non-null  object
 25  BodyStyle              75475 non-null  object
 26  Segment                75475 non-null  object
 27  Seats                  75475 non-null  int64
 28  PriceEuro              75475 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(8), object(13)
memory usage: 16.7+ MB

In [5]:
# Datos para conectar a la DB
connection = pymysql.connect(
    host='bn83gilwrcfotqoazybx-mysql.services.clever-cloud.com',
    user='uc0tzjpbwmcv8ro5',
    password='LaNI5u2ZjXzafghQRntP',
    db='bn83gilwrcfotqoazybx'
)

# Dropea una tabla si esta existe [[[Dropea la tabla si existe]]]
# Crear un cursor
cursor = connection.cursor()
create_table_query = '''
DROP TABLE IF EXISTS `bn83gilwrcfotqoazybx`.`data_with_cars`
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()


# Crear un cursor   [[Crea la tabla]]]
cursor = connection.cursor()
# Crear una tabla en la DB
create_table_query = '''
CREATE TABLE `bn83gilwrcfotqoazybx`.`data_with_cars` (
`tpep_pickup_datetime` DATETIME, 
`tpep_dropoff_datetime` DATETIME, 
`passenger_count` INT NOT NULL,
`trip_distance` DECIMAL(10,2), 
`RatecodeID` INT NOT NULL, 
`PULocationID` INT NOT NULL, 
`DOLocationID` INT NOT NULL,
`payment_type` INT NOT NULL, 
`fare_amount` DECIMAL(10,2), 
`total_amount` DECIMAL(10,2), 
`LocationID` INT NOT NULL, 
`Borough` VARCHAR(30),
`Zone` VARCHAR(30), 
`service_zone` VARCHAR(30), 
`placa` VARCHAR(30), 
`Brand` VARCHAR(30), 
`Model` VARCHAR(30), 
`AccelSec` DECIMAL(10,2),
`TopSpeed_KmH` INT NOT NULL, 
`Range_Km` INT NOT NULL, 
`Efficiency_WhKm` INT NOT NULL, 
`FastCharge_KmH` VARCHAR(30),
`RapidCharge` VARCHAR(30), 
`PowerTrain` VARCHAR(30), 
`PlugType` VARCHAR(30), 
`BodyStyle` VARCHAR(30), 
`Segment` VARCHAR(30),
`Seats` INT, 
`PriceEuro` INT) ENGINE = InnoDB;;
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()



# Mandar los datos a la DB [[Cargar DATA]]
cursor = connection.cursor()
for i, row in df.iterrows():
    sql = '''
    INSERT INTO `bn83gilwrcfotqoazybx`.`data_with_cars` (
    `tpep_pickup_datetime`,
    `tpep_dropoff_datetime`,
    `passenger_count`,
    `trip_distance`,
    `RatecodeID`,
    `PULocationID',
    `DOLocationID`,
    `payment_type`,
    `fare_amount`,
    `total_amount`,
    `LocationID`,
    `Borough`,
    `Zone`,
    `service_zone`,
    `placa`,
    `Brand`,
    `Model`,
    `AccelSec`,
    `TopSpeed_KmH`,
    `Range_Km`,
    `Efficiency_WhKm`,
    `FastCharge_KmH`,
    `RapidCharge`,
    `PowerTrain`,
    `PlugType`,
    `BodyStyle`,
    `Segment`,
    `Seats`,
    `PriceEuro`) VALUES 
    (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    cursor.execute(sql, (row['tpep_pickup_datetime'], 
                         row['tpep_dropoff_datetime'], row['passenger_count'], row['trip_distance'], 
                         row['RatecodeID'], row['PULocationID'], row['DOLocationID'], row['payment_type'], row['fare_amount'], 
                         row['total_amount'], row['LocationID'], row['Borough'], row['Zone'], row['service_zone'], row['placa'],
                         row['Brand'], row['Model'], row['AccelSec'], row['TopSpeed_KmH'], row['Range_Km'], 
                         row['Efficiency_WhKm'], row['FastCharge_KmH'], row['RapidCharge'], row['PowerTrain'], row['PlugType'], 
                         row['BodyStyle'], row['Segment'], row['Seats'], row['PriceEuro']))

connection.commit()

# Cerrar la conexión
connection.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DOLocationID`,\n    `payment_type`,\n    `fare_amount`,\n    `total_amount`,\n    `L' at line 8")

In [16]:
# Cerrar la conexión
connection.close()

NameError: name 'connection' is not defined

In [28]:
from sqlalchemy import create_engine

In [29]:
# Variables para la DB
host = 'byzuegyhogks28kbhbkn-mysql.services.clever-cloud.com'
user = 'uqpk8ogwqurgzkhh'
password = 'uXvAxUEyxLSo9dnvub27'
db = 'byzuegyhogks28kbhbkn'

#  Motor de la DB
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{db}')


# Envía el DataFrame a la base de datos
df.to_sql('data_with_cars', engine, if_exists='replace', index=False)

75475

---
---
---

In [19]:
df = pd.read_csv("../Datasets/complete_with_placas.csv")

In [20]:
df.columns

Index(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count',
       'trip_distance', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'payment_type', 'fare_amount', 'total_amount', 'LocationID', 'Borough',
       'Zone', 'service_zone', 'placa'],
      dtype='object')

In [21]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [22]:
# Variables para la DB
host = 'byzuegyhogks28kbhbkn-mysql.services.clever-cloud.com'
user = 'uqpk8ogwqurgzkhh'
password = 'uXvAxUEyxLSo9dnvub27'
db = 'byzuegyhogks28kbhbkn'

#  Motor de la DB
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{db}')


# Envía el DataFrame a la base de datos
df.to_sql('data_with_placas', engine, if_exists='replace', index=False)

75475